body {
    background-color: #D9D9D9;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.btn-masuk {
    background-color: #0A0A33;
    color: white;
    margin-bottom: 13px;
    border-radius: 23px;
    width: 225px;
    height: 47px;
    left: 69px;
    top: 566px;
    border: 0;

}

.btn-daftar {
    width: 225px;
    height: 47px;
    left: 69px;

    top: 626px;
    color: white;
    background-color: #7D7D7D;
    border-radius: 23px;
    border: 0;
}

.petugas,
.tentang {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #000000;
}

.btn-submit {
    color: white;
    width: 135px;
    height: 38px;
    left: 112px;
    top: 569px;
    background: #0A0A33;
    border-radius: 23px;
}

.label-username,
.label-telephone,
.label-password,
.label-confirm_password {
    width: 121px;
    height: 28px;
    left: 69px;
    top: 398px;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;


    color: #000000;
}

.regist {
    font-size: 12px;
}

.btn-logo {
    color: #0A0A33;
    font-size: 35px;
}

.card {
    box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.25);
}

.cart {
    left: 0%;
    right: 0%;
    top: 90.5%;
    bottom: 0.12%;

    background: #000000;
    box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}